body {
  font-family: "Rubik", sans-serif;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  position: relative;
  padding: 30px 30px;
  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    // width: 100%;
    height: 30%;

    background-image: url("../images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    z-index: -1;
  }

  @include mediaTablet {
    min-height: 100dvh;
    height: 100dvh;
  }
}

#map {
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 100%;
  height: 70%;
}
